
h1{
color: blue;
background-color: aqua;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
h2{
border: 10cap;
padding: 10;
background-color:purple ;
border-style: initial;
color: aqua;
text-decoration: overline;
}
li{
color: blueviolet;
border-color: bisque;
background-color: aqua;
}
#flex{
display: flex;
flex-direction: row;
}
#snowwhite{
display: flex;
justify-content: space-between;
background-color: aqua;
color: brown;
position: fixed;
text-align: left;
}
#theprincessandthepea{
display: flex;
justify-content: center;
color: crimson;
background-color: chocolate;
}